html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 75%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #FDFFF7;
    color: #50514F;
}

h1 {
    color: #FF9000;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    color: #5ca8d0;
}

footer {
  padding-bottom: 30px;
  padding-top: 15px;
}

footer ul {
    display: flex; 
    justify-self: start;
    align-items: center;
}

footer ul li {
    padding: 0 6px;
}

li a {
    color: #FF9000;
    text-decoration: none;
}

li a:hover {
    color: #5ca8d0;
}

button {
    color: #50514F;
    background-color: #e8e8e8;
    border-radius: 10px;
    border: 0;
    padding: 5px 8px;
}

button:focus {
  outline-style: none;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-photo {
  width: 40%;
}

.my-photo img {
  width: 100%;
}

.header-content {
  width: 55%;
  margin: 20px;
}

section {
  margin: 20px 0;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  /* display: none; */
  display: none;
}

.active {
  display: block;
  background-color: azure;
  padding: 10px 20px;
}

